<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!--Relative path where your web site files are located -->
    <!--<add key="ServerPhysicalPath" value="..\..\src\WebApplication"/>-->
    
    <!--By default ServerLight search for : default.aspx, Default.aspx, Default.html, default.html, Index.html, index.html but you can specifie an other file name. -->
    <!--<add key="HomeUrl" value="DefaultDebug.aspx"/>-->
    
    <!--ServerLight use a random port from 22000 to 22500. You can use a specifi one -->
    <!--<add key="ServerPort" value="22001"/>-->
  </appSettings>
</configuration>